body{
    background-color: azure;
}
h1{
    font-size: 50px;
    color: purple;
}
#search-btn, .btn-bg-color {
    background-color: purple;
}
#search-btn:hover, .btn-bg-color:hover {
    background-color: darkslateblue;
}
h4{
    color: purple;
}
h5{
    color: darkgoldenrod;
    margin-bottom: 20px;
}
.card{
    border: none;
    border-radius: 10px;
    background-color: rgba(241, 239, 236, 0.959);
}
#card-img:hover{
    transform: scale(1.2, 1.1);
    transition: 0.5s;
}
#text-color{
    color: indigo;
}