/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

body{
    background-color: azure;
    font-family: 'Ubuntu Mono', monospace;
}
h1{
    font-size: 50px;
    color: purple;
}
#search-btn, #show-btn, .btn-bg-color {
    background-color: purple;
}
#search-btn:hover, #show-btn:hover, .btn-bg-color:hover {
    background-color: darkslateblue;
}
h4{
    color: purple;
}
h5{
    color: darkgoldenrod;
    margin-bottom: 20px;
}
#spinner, #show-btn{
    display: none;
}
.card{
    border: none;
    border-radius: 10px;
    background-color: rgba(241, 239, 236, 0.959);
}
#card-img:hover{
    transform: scale(1.2, 1.1);
    transition: 0.5s;
}
#text-color{
    color: indigo;
}